@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:400|Diplomata:400|Ewert:400");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/66745aa99dd53d1d2d58fa51.66745aaa9dd53d1d2d58fa54.dTEO3oH.hcp.png");



.screen a {
  display: contents;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
